# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Env / secrets
.env
*.env.local

# Data (versionado con DVC, no con git)
/data/**
!/data/sample/**
!/data/README.md
!/data/**/*.dvc

# Notebooks
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# DVC
/.dvc/cache
/.dvc/tmp
